workflows/n8n/create-website-pipeline.json
{
  "name": "Website Creation Pipeline (optional)",
  "description": "Webhook proxy that forwards external /webhook/create-website requests to the agent-api. Notifications are handled natively by agent-api via the telegram-bot /notify endpoint, so no polling is needed here.",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "create-website",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://agent-api:8000/jobs/create",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Secret",
              "value": "={{ $env.AGENT_API_SECRET }}"
            }
          ]
        },
        "sendBody": true,
        "jsonBody": "={{ $json.body }}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "create-job",
      "name": "Create Job via API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [{"node": "Create Job via API", "type": "main", "index": 0}]
      ]
    },
    "Create Job via API": {
      "main": [
        [{"node": "Respond to Webhook", "type": "main", "index": 0}]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {"name": "website-creation"}
  ]
}
