workflows/n8n/modify-website-pipeline.json
{
  "name": "Website Modification Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "modify-website",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://agent-api:8000/jobs/modify",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Secret",
              "value": "={{ $env.AGENT_API_SECRET }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "project_id",
              "value": "={{ $json.body.project_id }}"
            },
            {
              "name": "change_request",
              "value": "={{ $json.body.change_request }}"
            }
          ]
        },
        "options": {
          "timeout": 300000
        }
      },
      "id": "modify-job",
      "name": "Create Modify Job via API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_ADMIN_CHAT_ID }}",
        "text": "=✏️ *Modification Preview Ready*\n\nProject: {{ $json.result.project_slug }}\nRevision: {{ $json.result.revision_number }}\nPreview: {{ $json.result.preview_url }}\nChanges: {{ $json.result.changes_summary }}\n\nUse /approve or /reject to proceed.",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "telegram-notify",
      "name": "Notify via Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [{"node": "Create Modify Job via API", "type": "main", "index": 0}]
      ]
    },
    "Create Modify Job via API": {
      "main": [
        [{"node": "Respond to Webhook", "type": "main", "index": 0}]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {"name": "website-modification"}
  ]
}
